$simple_value_color : #449;
$bright_color       : #333;
$tree_color         : #999;

$name_color         : #789;
// $comment_color      : #a98;
$comment_color      : #faa;
// $string_color       : #f90;
$string_color       : #3a3;
$number_color       : #33f;
$number_color       : #963;
$undefined_color    : #777;
$null_color         : #777;
$boolean_color      : #449;
$line_highlight     : #eff;


@import "header";

.jsot {
	font-size: 16px;
	font-family: consolas;
	color: $tree_color;

	.row {
		display: block;
		padding-right: 30px;

		
		.branch {
			// cursor: default;
			cursor: pointer;
			text-shadow: 0 0 1px $tree_color;
		}
		.header-ext {
			min-width: 50px;
		}
	}
	.row:hover {
		background-color: $line_highlight;

		.name.nip-name {
			&:before,
			&:after {
				color: $bright_color;
			}
		}
	}

	.c-window {
		white-space: normal;
		border: 1px solid #777;
		box-shadow: 0 5px 20px #333;
		margin: 5px;
		padding: 5px;
		background-color: #eee;
		>.c-w-header,
		>.c-w-footer {
			// padding: 5px;
			text-align: right;
			>.btn-el {
				height: 20px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				color: #888;
				cursor: pointer;
				user-select: none;
				// border: 1px solid #888;
				vertical-align: middle;
				&:hover {
					text-shadow: 
						0 0 1px #888,
						0 0 1px #888,
						0 0 1px #888;
				}
				&:active {
					text-shadow: 
						0 0 10px #888,
						0 0 10px #888,
						0 0 10px #888,
						0 0 1px  #888,
						0 0 1px  #888,
						0 0 1px  #888;
				}
			}
		}
		>.c-w-content-wr {
			
			// padding: 10px;
			margin: 5px 0;
			border: 1px solid #777;
			font-weight: normal;


			pre.js-hl-c-w-content.jsot-syntax-hl {
				margin: 0;
				display: block;
				padding: 10px 20px;
				max-height: none;  // disable scroll
				// max-height: 500px;  // enable scroll
				&[data-max-heigth="true"] {
					max-height: 500px;
					overflow-y: scroll;
				}
			}
		}
		.float-cleaner {
			clear: both;
		}
	}

	.c-window.dark-skin {
		border: none;
		background-color: #444;
		>.c-w-content-wr {
			border: none;
		}
	}
	
}

@keyframes rotate-loadbar {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}