$simple_value_color : #449;
$bright_color       : #333;
$tree_color         : #999;

$name_color         : #789;
// $comment_color      : #a98;
$comment_color      : #faa;
// $string_color       : #f90;
$string_color       : #3a3;
$number_color       : #33f;
$number_color       : #963;
$undefined_color    : #777;
$null_color         : #777;
$boolean_color      : #449;
$line_highlight     : #eff;


@import "header";

.jsot {
	font-size: 16px;
	font-family: consolas;
	color: $tree_color;

	.row {
		display: block;
		padding-right: 30px;

		
		.branch {
			// cursor: default;
			cursor: pointer;
			text-shadow: 0 0 1px $tree_color;
		}
		.header-ext {
			min-width: 50px;
		}
	}
	.row:hover {
		background-color: $line_highlight;

		.name.nip-name {
			&:before,
			&:after {
				color: $bright_color;
			}
		}
	}

	.c-window {
		white-space: normal;
		border: 1px solid #777;
		box-shadow: 0 5px 20px #333;
		margin: 5px;
		padding: 5px;
		background-color: #eee;
		>.c-w-header,
		>.c-w-footer {
			// padding: 5px;
			text-align: right;
			>.btn-el {
				height: 20px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				color: #888;
				cursor: pointer;
				user-select: none;
				// border: 1px solid #888;
				vertical-align: middle;
				&:hover {
					text-shadow: 
						0 0 1px #888,
						0 0 1px #888,
						0 0 1px #888;
				}
				&:active {
					text-shadow: 
						0 0 10px #888,
						0 0 10px #888,
						0 0 10px #888,
						0 0 1px  #888,
						0 0 1px  #888,
						0 0 1px  #888;
				}
			}
		}
		>.c-w-content-wr {
			
			// padding: 10px;
			margin: 5px 0;
			border: 1px solid #777;
			font-weight: normal;


			pre.js-hl-c-w-content.jsot-syntax-hl {
				margin: 0;
				display: block;
				padding: 10px 20px;
				max-height: none;  // disable scroll
				// max-height: 500px;  // enable scroll
				&[data-max-heigth="true"] {
					max-height: 500px;
					overflow-y: scroll;
				}
			}
		}
		.float-cleaner {
			clear: both;
		}
	}

	.c-window.dark-skin {
		border: none;
		background-color: #444;
		>.c-w-content-wr {
			border: none;
		}
	}
	
}

pre.jsot-syntax-hl {
	$pref : "jsot-syntax-hl";
	background-color: #444;
	color: #ccc;
	-moz-tab-size: 4;
	tab-size: 4;
	// color: #eee;
	overflow: auto; 
	max-height: 500px;
	padding: 20px;
	font-family: consolas, monospace;
	*::selection {
		background-color: #000;
		background-color: rgba(128,128,128,.5);
	}

	.#{$pref}__line {
		margin-left: -20px;
		>* {
			display: table-cell;
		}
		.#{$pref}__line-number {
			width: 50px;
			min-width: 50px;
			max-width: 50px;
			text-align: right;
			// background-color: #333;
			background-color: #444;
			padding-right: 10px;
			margin-right: 5px;
			transition: all .2s;
			&:before {
				content: attr(data-line-number)"";
			}
		}
		.#{$pref}__line-indent {
			padding-left: 5px;
		}
		.#{$pref}__line-text {
			padding-left: 20px;
			white-space: pre-wrap;
			word-break: break-word;
			&:before {
				content: "";
				margin-left: -20px;
			}
		}
	}
	.#{$pref}__line:hover {
		.#{$pref}__line-number {
			// background-color: #333;
			font-weight: bold;
			color: #fff;
		}
	}
	.#{$pref}__line-number {
		background-color: #444;
		// border-right: 3px solid #ccc;
	}
	.#{$pref}__line-text {
		color: #eee;
		// .string_v      {color: #FAF4C6;}
		// .string_v      {color: #ffc;}
		.string_v      {color: #ddc;}
		.string_n      {color: #78a;}
		._null         {color: #98f;}
		.error         {color: #fff; background-color: #e48; box-shadow: inset 0 0 2px #fff;}
		.f_name        {color: #eee; font-weight: bold;}
		.comment       {color: #777;}
		.string        {color: #b98;}
		.re            {color: #78a;}
		.slashed       {color: #fb6;}
		.number        {color: #fb6;}
		.bool          {color: #fb6;}
		.sp_const      {color: #fb6;}
		.keyword       {color: #78a;}
		.operator      {color: #78a;}
		.punctuation   {color: #eee;}
		.paren         {color: #ddc;}
		.curly         {color: #ddc;}
		.bracket       {color: #ddc;}
		.word          {color: #ddc;}
		.string_tag    {color: #ddc;}
	}
}

@keyframes rotate-loadbar {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}