[submodule "syntax-highlight-framework"]
	path = syntax-highlight-framework
	url = https://github.com/bognaum/syntax-highlight-framework.git
[submodule "src-esm/js-hl"]
	path = src-esm/js-hl
	url = https://github.com/bognaum/js-hl.git
